body {

    background: #09333F;


}

* {
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    margin: 0px auto;
    padding: 70px 0 20px 0;
}
.titulo_principal {
    text-align: center;
    font-size: 50px;
    
}
.informacoes-iniciais {
    text-align: left;
    width: 400px;
    border: 3px solid rgb(11, 7, 17);
    border-radius: 5%;
    padding: 10px;
    color:rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(177, 177, 177, 0.4);
    margin: 0;

}

.links {
    
}

.conteudo {
    display: flex;
    width: 100vw;
}
.imagem-principal {
    display: block;
    margin: 0px auto;
    width: 60vw;
    height: 400px;
    padding-bottom: 30px;


}
.menu {
    background-color: rgba(0, 0, 0, 0.7);
    height: 7vh;
    display: flex;
    justify-content: flex-start; 


}
.menu a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: color 1s;
    transition: background-color 0.3s;

}
.menu a:hover {
    background-color: gray;


}

.endereco {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: rgba(50, 168, 160);

}

.body-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pop-up {
    min-width: 250px;
    min-height: 100px;
    background-color: white;

}

